@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--paragraph-color: #8a8a8a;
	--headings-color: #484848;
	--red-alert-color: #ff4646;
	--custom-grey: #e0e0e0;
	--custom-light-grey: #eeeeee;
}

@layer base {
	body {
		background-color: #fff;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Volkhov', serif;
		color: var(--headings-color);
	}
	p,
	a,
	span,
	button {
		font-family: 'Poppins', sans-serif;
	}
	p {
		color: var(--paragraph-color);
	}

	a:hover {
		color: var(--headings-color);
	}

	.comp-layout {
		@apply px-4 md:px-6 py-4 max-w-5xl mx-auto xl:px-0;
	}
}

@font-face {
	font-family: 'Digital Numbers Regular';
	font-style: normal;
	font-weight: normal;
	src: url('/fonts/digital-numbers-font/DigitalNumbers-Regular.woff'), format('woff');
}
